<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.NewsCommentDao">

    <insert id="insert" parameterType="com.example.demo.entity.NewsComment">
        insert into news_comment (news_id,create_time,username,content) values(#{newsId},#{createTime},#{username},#{content});
    </insert>
    <select id="list" resultType="com.example.demo.entity.NewsComment">
       select id,news_id as newsId,create_time as createTime,username,content from news_comment where news_id=#{newsId}
       order by id desc
       limit #{start},#{rows}
    </select>
</mapper>
